{{#section "js"}}
<script type="module">
    import CustomMap from "/static/js/map/CustomMap.js";
    import { contentAd } from "/static/js/loadMarker.js";
    const Map = new CustomMap();
    Map.init().then(() => {
        const contentString = contentAd({{{ json request.location }}});
    Map.pushAdMarker({{{ json request.location }}}, {{{ json request.location.address }}}, contentString);
    Map.setCenter({{{ json request.location.coordinate }}}); 
    });
</script>
<script>
    function updatePreview(list) {
        const previewDiv = $('#preview');
        list.map((img, index) => {
            const div = $('<div class="col-4" style="position: relative; max-height: 300px;"></div>')
            const imgEle = $(`<img src="${img}" style="width: 100%; object-fit: cover; border-radius: 0.375rem;" />`)
            div.append(imgEle)
            previewDiv.append(div)
        })
    }

    let imgsArr = {{{ json request.advertisement.imgs }}}

    window.onload = function () {
        updatePreview(imgsArr)
    }

</script>
{{/section}}

<a class="btn p-0 link-primary" href="javascript:history.back()" role="button">
    <i class="bi bi-caret-left"></i>
    Trở về
</a>
<form class="mt-3" id="form-create-request" method="post">
    {{#with this.request.advertisement}}
    <div class="card mb-4">
        <div class="card-header">
            <h4>Bảng quảng cáo</h4>
        </div>
        <div class="card-body">
            <div class="row flex-nowrap overflow-auto" id="preview"></div>
            <div>
                <strong>Loại bảng quảng cáo: </strong>
                {{TypeBoard}}
            </div>
            <div>
                <strong>Số lượng: </strong>
                {{number}}
            </div>
            <div>
                <strong>Kích cỡ: </strong>
                {{size}}
            </div>
            <div>
                <strong>Thời hạn hợp đồng: </strong>
                {{start}} - {{end}}
            </div>
        </div>
    </div>
    {{/with}}

    {{#with this.request.location}}
    <div class="card mb-4">
        <div class="card-header">
            <h4>Điểm đặt quảng cáo</h4>
        </div>
        <div class="card-body row px-4">
            <div id="map" style="height: 200px" class="col-6"></div>
            <div class="col-6">
                <div>
                    <strong>Địa chỉ: </strong>
                    {{address}}
                </div>
                <div>
                    <strong>Phân loại: </strong>
                    {{type}}
                </div>
                {{#if zoning}}
                <div class="text-uppercase mt-2 fw-bold fst-italic text-success">
                    <i class="bi bi-check-circle-fill me-2"></i>Đã quy hoạch
                </div>
                {{else}}
                <div class="text-uppercase mt-2 fw-bold fst-italic text-secondary">
                    <i class="bi bi-x-circle-fill me-2"></i>Chưa quy hoạch
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    {{/with}}

    {{#with this.request.company}}
    <div class="card mb-4">
        <div class="card-header">
            <h4>Công ty</h4>
        </div>
        <div class="card-body">
            <div>
                <strong>Tên công ty: </strong>
                {{name}}
            </div>
            <div>
                <strong>Địa chỉ: </strong>
                {{address}}
            </div>
            <div>
                <strong>Email: </strong>
                {{email}}
            </div>
            <div>
                <strong>Số điện thoại: </strong>
                {{phone}}
            </div>
        </div>
    </div>
    {{/with}}
    <input id="hidden-id-input" class="d-none" value="{{this.request._id}}" name="id" readonly />
    {{#ifCond request.createdBy '==' userAuth._id}}
    <button name="" id="" class="btn btn-danger" formaction="/advertisement/create-request/delete" {{#ifCond
        request.accepted '!==' 'pending' }} disabled {{/ifCond}}>
        Hủy yêu cầu
    </button>
    {{/ifCond}}
    {{#ifCond authUser.role '==' '3'}}
    <div class="d-flex">
        <button name="" id="" class="btn btn-danger" style="width: 150px"
            formaction="/advertisement/create-request/reject" {{#ifCond request.accepted '!==' 'pending' }} disabled
            {{/ifCond}}>
            Từ chối
        </button>
        <button name="" id="" class="btn btn-success ms-2" style="width: 150px" {{#ifCond
            request.accepted '!==' 'pending' }} disabled {{/ifCond}} formaction="/advertisement/create-request/approve">
            Đồng ý
        </button>
    </div>
    {{/ifCond}}
</form>