<div class="d-flex justify-content-between">
	<h4>Yêu cầu cấp phép</h4>
	{{! Cho phân hệ cán bộ sở }}
	<a name="" id="" class="btn btn-primary" href="create-request/create" role="button">
		<i class="bi bi-plus-lg"></i>
		Tạo mới
	</a>
</div>
<table class="table table-hover mt-3">
	<thead>
		<tr class="table-light">
			<th scope="col" style="width: 2rem">No.</th>
			<th scope="col" style="width: 20%">Loại quảng cáo</th>
			<th scope="col" style="width: 15%">Công ty</th>
			<th scope="col">Địa chỉ</th>
			<th scope="col" style="width: 15%">Tình trạng</th>
			<th scope="col">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		{{#each this.list}}
		<tr>
			<th scope="row">{{inc index}}</th>
			<td>{{advertisement.TypeBoard}}</td>
			<td>{{company.name}}</td>
			<td>{{location.address}}</td>
			{{#ifCond accepted '==' "pending"}}
			<td class="text-warning"><i class="bi bi-clock me-1"></i>Đang chờ</td>
			{{/ifCond}}
			{{#ifCond accepted '==' "approved"}}
			<td class="text-success"><i class="bi bi-check-lg me-1"></i>Đã duyệt</td>
			{{/ifCond}}
			{{#ifCond accepted '==' "rejected"}}
			<td class="text-danger"><i class="bi bi-x me-1"></i>Không duyệt</td>
			{{/ifCond}}
			<td>
				<a class="link-primary" href="/advertisement/create-request/detail?id={{_id}}">
					<i class="bi bi-arrows-angle-expand"></i>
				</a>
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>
<ul class="pagination justify-content-center">
	<li class="page-item">
		<a class="page-link {{#ifCond this.page "==" 1}} disabled {{/ifCond}}"
			href="/advertisement/create-request?page=1" aria-label="Previous">
			<span aria-hidden="true">&laquo;</span>
		</a>
	</li>

	{{#each this.pageNumbers}}
	<li class="page-item">
		<a class="page-link {{#if isActive}} disabled {{/if}}"
			href="/advertisement/create-request?page={{value}}">{{value}}</a>
	</li>
	{{/each}}

	<li class="page-item">
		<a class="page-link {{#ifCond this.totalPage "==" this.page}} disabled {{/ifCond}}"
			href="/advertisement/create-request?page={{this.totalPage}}" aria-label="Next">
			<span aria-hidden="true">&raquo;</span>
		</a>
	</li>
</ul>