<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">District name</th>
            <th scope="col">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {{#each districts}}
        <tr>
            <th scope="row">{{inc @index}}</th>
            <td>{{this.district}}</td>
            <td>
                <a href="/districts/create" method="post" class="btn btn-success">Add</a>
                <a href="/districts/update?id={{this._id}}" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger"
                    onclick="event.preventDefault(); if(confirm('Are you sure you want to delete this district?')) document.getElementById('delete-form-{{this.id}}').submit();">Delete</a>
                <form id="delete-form-{{this.id}}" action="/districts/delete?id={{this.id}}" method="post"
                    style="display: none;"></form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>