<div class="d-flex justify-content-between">
	<h4>Danh sách bảng quảng cáo</h4>
	{{! Cho phân hệ cán bộ sở }}
	{{#ifCond authUser.role '===' 3}}
	<a name="" id="" class="btn btn-primary" href="manage/new" role="button">
		<i class="bi bi-plus-lg"></i>
		Tạo mới
	</a>
	{{/ifCond}}
</div>
<table class="table table-hover mt-3">
	<thead>
		<tr class="table-light">
			<th scope="col" style="width: 2rem">No.</th>
			<th scope="col" style="width: 50%">Địa chỉ</th>
			<th scope="col">Loại bảng quảng cáo</th>
			<th scope="col">Kích thước</th>
			<th scope="col" style="width: 8rem">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		{{#ifCond authUser.role '!==' 3 }}
		{{#each this.list}}
		<tr>
			<th scope="row">{{index}}</th>
			<td>{{address}}</td>
			<td>{{typeBoard}}</td>
			<td>{{size}}</td>
			<td class="row h-100">
				<a href="/advertisement/request/create/{{_id}}" style="text-decoration: none"
					class="mb-1 text-success"><i class="bi bi-send me-1"></i>Yêu cầu</a>

				<a href="/advertisement/manage/{{_id}}" style="text-decoration: none"><i
						class="bi bi-arrows-angle-expand me-1"></i>Xem chi tiết</a>
			</td>
		</tr>
		{{/each}}
		{{/ifCond}}
		{{#ifCond authUser.role '===' 3 }}
		{{#each this.list}}
		<tr>
			<th scope="row">{{index}}</th>
			<td>{{address}}</td>
			<td>{{typeBoard}}</td>
			<td>{{size}}</td>
			<td>
				<a href="/advertisement/manage/{{_id}}" style="text-decoration: none"><i
						class="bi bi-arrows-angle-expand me-1"></i>Xem chi tiết</a>
			</td>
		</tr>
		{{/each}}
		{{/ifCond}}
	</tbody>
</table>
{{> pagination href="/advertisement/manage" page=page totalPage=totalPage pageNumbers=pageNumbers}}