{{#section "js"}}
<script type="module">
  import CustomMap from "/static/js/map/CustomMap.js";
  import { contentAd } from "/static/js/loadMarker.js";
  import { readAsDataURL, updateHidden, checkFilesSize, handleDelImg, updatePreview } from '/static/js/handleImgs.js'

  const HomeMap = new CustomMap();
  HomeMap.init().then(() => {
    const contentString = contentAd({{{ json location }}});
  HomeMap.pushAdMarker({{{ json location }}}, {{{ json location.address }}}, contentString);
  HomeMap.setCenter({{{ json location.coordinate }}}); 
    });

  let imgsArr = {{{ json ad.imgs }}}

  window.onload = function () {
    updatePreview(imgsArr)
    updateHidden(imgsArr)
  }

  $("#edit").click(function () {
    $('#typeBoard').prop("disabled", false);
    $('#typeBoard').prop("required", true);
    $('#number').prop("disabled", false);
    $('#size').prop("disabled", false);
    $('#file').prop("disabled", false);
    $('#deleteButton').prop("hidden", false);
    $('#deleteButton').prop("disabled", false);
    $('#edit').prop("hidden", true);
    $('#fnButton').show();
    document.querySelectorAll('#deleteImgButton').forEach((btn) => btn.removeAttribute('hidden'))
    $('#file').prop('hidden', false)
  });
  $("#cancelButton").click(function () {
    window.location.reload();
  });
  $("#deleteButton").click(function (e) {
    e.preventDefault();
    $.post("/advertisement/manage/delete/{{ad._id}}", function (response) {
      window.location.href = '/advertisement/manage';
    })
  });

  $('input#file').on('change', async (e) => {
    const files = Array.from(e.currentTarget.files);
    if (files.length && checkFilesSize(imgsArr, files)) {
      const images = await Promise.all(files.map((file) => {
        return readAsDataURL(file)
      }))

      imgsArr.push(images)
      updatePreview(imgsArr, false)
      updateHidden(imgsArr)
    }
  })
</script>
{{/section}}

<a class="btn p-0 link-primary" href="/advertisement/manage" role="button">
  <i class="bi bi-caret-left"></i>
  Trở về
</a>

<div id="map" style="height: 400px; width: 100%;" class="mt-3"></div>

<div class="d-flex justify-content-between">
  <div class="mt-3" style="display: flex; align-items: center;">
    <h4>Thông tin chi tiết bảng quảng cáo </h4>
    {{#ifCond authUser.role '===' 3}}
    <div id="edit" style="margin-left: 16px; cursor: pointer">
      <i class="bi bi-pencil-square"></i>
      Chỉnh sửa
    </div>
    {{/ifCond}}
    {{#ifCond authUser.role '!==' 3}}
    <a style="margin-left: 16px; cursor: pointer" href="/advertisement/edit-request/create/advertisement?id={{ad._id}}">
      <i class="bi bi-pencil-square"></i>
      Chỉnh sửa
    </a>
    {{/ifCond}}
  </div>
  <div class="mt-3">
    <button type="button" class="btn btn-danger" id="deleteButton" hidden disabled>
      <i class="bi bi-trash"></i>
      Xóa
    </button>
  </div>

  {{#ifCond authUser.role '!==' 3}}
  <div class="mt-3">
    <a href="/advertisement/request/create/{{ad._id}}" class="btn btn-primary mt-3">
      <i class="bi bi-send"></i>
      Gửi yêu cầu cấp phép
    </a>
  </div>
  {{/ifCond}}
</div>

<form method="POST">
  <div class="form-outline mt-3">
    <label class="form-label" for="address">Địa chỉ</label>
    <input type="text" id="address" class="form-control border-2" value="{{location.address}}" disabled />
  </div>

  <div id="hiddenImgsInput"></div>

  <div class="form-outline mt-3">
    <label class="form-label" for="typeBoard">Loại bảng quảng cáo</label>
    <select id="typeBoard" class="form-select border-2" name="typeBoard" required disabled>
      {{#each typeBoards}}
      <option value="{{name}}" {{#if isSelected}}selected{{/if}}>{{name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="form-outline mt-3">
    <div class="row g-3">
      <div class="col">
        <label class="form-label" for="number">Số lượng</label>
        <input type="text" id="number" class="form-control border-2" name="number" value="{{ad.number}}" disabled />
      </div>
      <div class="col">
        <label class="form-label" for="size">Kích thước</label>
        <input type="text" id="size" class="form-control border-2" name="size" value="{{ad.size}}" disabled />
      </div>
    </div>
  </div>
  <div class="form-outline mt-3">
    <label class="form-label" for="type">Hình ảnh bảng quảng cáo</label>
    <input type="file" id="file" class="form-control border-2" name="file" aria-describedby="fileHelp" accept="image/*"
      multiple disabled hidden />
    <div id="fileHelp" class="invalid-feedback">
      Tổng dung lượng các hình tối đa 10MB.
    </div>
    <div class="mt-3 row flex-nowrap overflow-auto" id="preview">
    </div>
  </div>
  <div id="fnButton" class="mt-3" style="display: none;">
    <a id="cancelButton" class="btn btn-secondary" role="button">
      Hủy
    </a>
    <button type="submit" class="btn btn-primary">
      <i class="bi bi-floppy"></i>
      Lưu
    </button>
  </div>
</form>